<!-- <div class="map-container">
    <div class="map-frame">
        <div id="map">
        </div>
    </div>
</div> -->

<!-- <iframe width='100%' height='820px' padding='10px'
    src="https://api.mapbox.com/styles/v1/tbway350/cl4soksyp003414l35deb72ib.html?title=false&access_token=pk.eyJ1IjoidGJ3YXkzNTAiLCJhIjoiY2w0c216dzVrMGllZzNrcDh3N3R2cW5mMiJ9.n0nXTyIppkCWBtkpoODKkg&zoomwheel=false#18.45/-2.4745572/32.9362587"
    title="Streets" style="border: none;">
</iframe> -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Contractor Map</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
  
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>

  <section class="content">
    <div class="container-fluid">
        <div id="map"></div>
    </div>

  </section>

