<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Admin Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">


            <div class="col">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{allUsers}}</h3>

                        <p>Total Users</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>

                </div>
            </div>

            <div class="col">
                <!-- small box -->
                <div class="small-box bg-success text-dark">
                    <div class="inner">
                        <h3>{{allEmployees}}</h3>

                        <p>Total Employees</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>

                </div>
            </div>

            <div class="col">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{allContractors}}</h3>

                        <p>Total Contractors</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>

                </div>
            </div>

            <div class="col">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{countMeta}}</h3>

                        <p>Ads Tracked</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    
                </div>
            </div>

        </div>

        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="navbar-dark"
                style="padding:10px ;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 style="color: rgba(206,212,218);">Employees registered Monthly</h2>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-card class=" mat-elevation-z8 dark-mode card">
                    <section class="chart-area">
                        <div class="chart-wrapper">
                            <h1></h1>
                            <canvas baseChart 
                                [datasets]="lineChartData" 
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions" 
                                [colors]="lineChartColors" 
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType" 
                                [plugins]="lineChartPlugins">
                            </canvas>
                        </div>
                    </section>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>

        <br>


        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="navbar-dark"
                style="padding:10px ;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 style="color: rgba(206,212,218);">Contractors registered Monthly</h2>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-card class=" mat-elevation-z8 dark-mode card">
                    <section class="chart-area">
                        <div class="chart-wrapper">
                            <h1></h1>
                            <canvas baseChart 
                                [datasets]="lineChartData3" 
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions" 
                                [colors]="lineChartColors" 
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType" 
                                [plugins]="lineChartPlugins">
                            </canvas>
                        </div>
                    </section>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>


        <br>


        <mat-accordion>

            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" class="navbar-dark"
                style="padding:10px ;">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 style="color: rgba(206,212,218);">Ads tracked Monthly</h2>
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <mat-card class=" mat-elevation-z8 dark-mode card">
                    <section class="chart-area">
                        <div class="chart-wrapper">
                            <h1></h1>
                            <canvas baseChart 
                                [datasets]="lineChartData2" 
                                [labels]="lineChartLabels"
                                [options]="lineChartOptions" 
                                [colors]="lineChartColors" 
                                [legend]="lineChartLegend"
                                [chartType]="lineChartType" 
                                [plugins]="lineChartPlugins">
                            </canvas>
                        </div>
                    </section>
                </mat-card>
            </mat-expansion-panel>
        </mat-accordion>


        <!-- /.row -->
    </div>
    <!-- Main row -->
</section>
<!-- /.content -->